body
{
	background-color:darkcyan;
}
h1
{
	color:aliceblue;
}
.color-list
{
	color:aliceblue;
	background-color:darkblue;
}
#geo
{
	list-style-type:georgian;
}
ol > li		/*<li > вложенный в <ol >*/
{
	font-family:Arial;
}
ul > li
{
	font-family:'Times New Roman';
}