<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="calc.css">
    <title>Калькулятор</title>
</head>
<body>
	<div id="desktop">
		<div class="main-window">
			<div class="title-bar">
				<div class="window-title">
					<img src="img/calc.ico" class="icon">
					Калькулятор
				</div>
				<div class="window-control-buttons">
					<button class="window-control-button"><b>_</b></button>
					<button class="window-control-button" disabled></button>
					<button class="window-control-button close-button">X</button>
				</div>
			</div>
			<div class="client-rect"></div>
		</div>
	</div>
</body>
</html>