body
{
}

#desktop
{
	/*https: //www.w3schools.com/cssref/css_units.php width:98vw;*/
	/*height: 95vh;*/
	height: 600px;
	/*background-color: darkgreen;*/
	display: flex;
	justify-content: center; /*Выравнивание по горизонтали*/
	align-items: center; /*Выравнивание по вертикали*/
}

.main-window
{
	width: 520px;
	height: 520px;
	/*border:solid 1px;*/
	font-family: Tahoma;
}

.title-bar
{
	background-image: linear-gradient(#23AAFF, #0259e6,#0259e6,#0259e6,#0259e6, #0367fa, #0367fa, #0367fa, #0367fa,#2379ed);
	height: 32px;
	border-radius: 8px 8px 0 0;
	box-shadow: inset 0px 0px 4px 1px #002195;
	color: white;
	text-shadow: 1px 1px darkblue;
	/**/
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon
{
	width: 24px;
	height: 24px;
	margin: 8px;
}

.window-control-buttons, .window-title
{
	display: flex;
	align-items: center;
	margin: 4px;
}

.window-control-button
{
	width: 24px;
	height: 24px;
	margin: 1px;
	color: white;
	font-weight: 500;
	background-image: linear-gradient(to bottom right, #55a1f5, #2760A2);
	box-shadow: inset 1px 1px 3px 1px #77a1f5;
	border: solid 1px white;
	border-radius: 2px;
}

	.window-control-button:hover, button:disabled
	{
		border-color: lightgrey;
	}

	.window-control-button:active
	{
		border-color: gray;
	}
/*button:disabled
{
		border-color: lightgrey;
}*/
.close-button
{
	/*background-image: url("img/close_button.png");*/
	background-image: linear-gradient(to bottom right, #c97475, #c76042);
	box-shadow: inset 1px 1px 3px 1px #c49a9b;
}

.client-rect
{
	background-color: #ebe9d8;
	height: 100%;
	/*border-left: solid 4px transparent;*/
	border: solid 5px;
	border-top: 0;
	/*border-right: solid 4px transparent;
	border-bottom: solid 4px transparent;*/
	/*border-image: linear-gradient(to right, #0069fc, #008bfF, #0069fc);*/
	border-image: linear-gradient(to right, #0069fc, #55BbfF, #0069fc) 1 round;
	/*-----------------------------*/
	display: flex;
	flex-direction: column;
}

.menu-bar
{
	box-shadow: 0px 1px 0px 0px white;
	padding: 2px;
}

	.menu-bar > input[type=button]
	{
		border: none;
		background-color: transparent;
	}

		.menu-bar > input[type=button]:hover
		{
			box-shadow: 0px 0px 0px 1px grey;
		}

.client-rect > input[type=text]
{
	margin: 10px;
	text-align: right;
	font-size: 18px;
}

.display-buttons
{
	display: flex;
	margin:10px;
}

	.display-buttons > div
	{
		width: 40px;
		height: 40px;
		border: inset 2px;
		margin:5px;
	}

	.display-buttons > button
	{
		width:128px;
		color:red;
		margin:0 5px;
	}

.debug
{
	border: solid 1px black;
}
