@keyframes background-animation
{
	from
	{
		background-color:aliceblue;
		color:darkblue;
	}
	to
	{
		background-color:darkblue;
		color:aliceblue;
	}
}
@keyframes background-animation-2
{
	25%
	{
		background-color: aliceblue;
		color: darkblue;
	}
	75%
	{
		background-color: darkblue;
		color: aliceblue;
	}
	100%
	{
		background-color: aliceblue;
		color: darkblue;
	}
}
@keyframes background-animation-3
{
	from
	{
		background-color:aliceblue;
		margin-left:0px;
		margin-top:0px;
	}
	to
	{
		background-color:darkblue;
		margin-left:100px;
		margin-top:50px;
	}
}
@keyframes border-animation
{

}
@keyframes button-animation
{
	from
	{
		border:outset 25px;
	}
	to
	{
		border:inset 25px;
	}
}
body
{
	animation-name:background-animation;
	/*animation-duration:5s;*/
	/*animation-delay:3s;*/
	/*animation-iteration-count:infinite;*/
	/*animation-direction:alternate;*/
}
div
{
	background-color: darkblue;
	border: outset 25px;
	/*border-left:solid 5px;
	border-right:solid 5px;*/
	width: 200px;
	height: 200px;
	/*margin-left:100px;
	padding-left:50px;
	padding-top:25px;*/
	padding: 20px 30px 40px 50px;
	border-radius: 25px;
	/*clip-path:inset(20px 20px 20px 20px round 20px);*/
	/*clip-path:circle()*/
	margin: 25px;
	animation: button-animation;
	animation-duration: 3s;
}
.pressed-button
{
	background-color: darkblue;
	border: inset 25px;
	/*border-left:solid 5px;
	border-right:solid 5px;*/
	width: 200px;
	height: 200px;
	/*margin-left:100px;
	padding-left:50px;
	padding-top:25px;*/
	padding: 20px 30px 40px 50px;
	border-radius: 25px;
	/*clip-path:inset(20px 20px 20px 20px round 20px);*/
	/*clip-path:circle()*/
	margin: 25px;

}

.button
{
	background-color:darkblue;
	width:100px;
	height:100px;
	border:outset 5px;
	transition:background-color 3s;
}
	.button:hover
	{
		background-color:blue;
	}