body
{
	/*font-family:sans-serif;*/
	font-family: Roboto,sans-serif;
}

h1, h2, h3
{
	font-weight: 800;
	color: skyblue;
	text-shadow: 25px 15px 2px darkblue, -25px -15px 2px blue;
}

p
{
	text-align: justify;
	font-weight: 300;
}

.image
{
	border: solid, 1px;
	text-align: center;
}

div > img
{
	/*width:50%;
	height:auto;*/
	/*align-self:center;*/
}

figcaption
{
	font-style: italic;
}

/*header was here*/
.row-header, .row-header:hover
{
	background-color: cornflowerblue;
	color: white;
	width: 200px;
	text-align: left;
}

	.row-header:hover
	{
		font-weight: 800;
	}

table
{
	/*https://www.w3schools.com/cssref/css3_pr_box-shadow.php*/
	border: solid;
	border-spacing: 0;
	border-radius: 5px;
	margin: 0 auto;
	/*box-shadow: 0px 0px 0px 50px;*/
}

	table:hover
	{
		box-shadow: -5px 5px 25px 25px grey;
	}
	table > caption
	{
		/*text-gradient(cornflowerblue, aliceblue);*/
		background-image: linear-gradient(cornflowerblue, aliceblue);
		color: transparent;
		background-clip: text;
	}
tr
{
	border: solid,1px;
}

	tr:hover
	{
		background-color: lightskyblue;
		color: grey;
	}

th
{
	border: solid,1px;
	padding-left: 25px;
	padding-right: 25px;
}

td
{
	text-align: center;
	border: solid,1px;
}

	td:hover
	{
		background-color: cadetblue;
		color: aliceblue;
	}

.header, .delimiter, .header:hover, .delimiter:hover
{
	background-color: cornflowerblue;
	color: white;
	/*height: 50px;*/
}

	.header:hover, .delimiter:hover
	{
		box-shadow: inset 0px -5px 15px 0 green;
	}

.header
{
	height: 50px;
}

.delimiter
{
	height: 32px;
}

.cite
{
	text-align: right;
	margin-left: 50px;
	font-weight: 100;
}

/*descriptor
{
	style1:....;
	style2:....;
	...........;
	styleN:....;
}
.class
{
	style1:....;
	style2:....;
	...........;
	styleN:....;
}
#id
{
	style1:....;
	style2:....;
	...........;
	styleN:....;
}*/

/*1) Один набор стилей для нескольких элементов.
element1, element2, .... elementN
{
	styles....
}
*/
/*2)Вложенность
	element1 > element2
	{
		Этот набор стилей применяется к 'element2' только тогда, когда он вложен в 'element1' 
	}
*/
div > table
{
	background-color:darkblue;
}
/*3) Первый следующий элемент
	element1 + element2
{
	Этот набор стилей будет применен к 'element2' только в том случае, если он непосредственно следует за 'element1' на одном уровне.
}
*/
h1 ~ h3,h4
{
	background-color:Highlight;
}

/*4) 
element1 ~ element2
{
	Этот набор стилей применяется ко всем 'element2', следующим на одном уровне за 'element1'
}
*/

html:has(.year:hover) .year
{
	background-color:limegreen;
}
html:has(.x86-64:hover) .x86-64
{
	font-weight:800;
	background-color:orange;
}