body
{
	border:solid 3px;
}
main
{
	border:solid 1px;
	width:384px;
	margin:25px;
}
textarea
{
	width:323px;
	height:50px;
	resize:none;
}
fieldset
{
	width:300px;
}
select
{
	width:330px;
}
option[disabled]
{
	text-align:center;
}
select[multiple]
{
	height:144px;
}
.eula
{
	overflow:scroll;
	width:350px;
	height:330px;
	border:solid 1px;
	margin:25px 0;
	padding:15px;
}