body
{
}
.container-display-flex
{
	border:solid 1px;
	background-color:darkblue;
	width:100%;
	height:192px;

	display:flex;
	justify-content:space-evenly;
}

.container-display-block
{
	border: solid 1px;
	background-color: darkblue;
	width: 100%;
	height: 384px;

	display: block;
	justify-content: space-evenly;
}

.content
{
	border:solid 1px;
	background-color:forestgreen;
	width:100px;
	height:100px;


}